{% extends 'main.html' %}
{% load static %}
{% block content %}

{% if page == 'register' %}
    <h1>Register</h1>
    <form action="{% url 'register' %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Register">
    </form>

{% else %}
<form action="" method="post">
    {% csrf_token %}

    <input type="text" name="username">
    <input type="text" name="password">
    <input type="submit">
    <p> Dont have an accoun? <a href="{% url 'register' %}">Register</a></p>

</form>
{% endif %}
{% endblock %}